# Disable directory browsing
Options All -Indexes

#para permitir en php en uso del short_open_tag: <?
php_value short_open_tag 1


ErrorDocument 403 /gseip/error/error-403.html

ErrorDocument 404 /gseip/error/error-404.html