# Disable directory browsing
Options All -Indexes






#para permitir en php en uso del short_open_tag: <?
php_value short_open_tag 1


# Custom error pages
ErrorDocument 403 /gseip/error/error-403.html
ErrorDocument 404 /gseip/error/error-404.html
ErrorDocument 500 /gseip/error/error-500.html