
/* para hacer la clase .table-condensed de bootstrap mas condensada de lo que es */
/*.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td{
    padding: 3px;
}*/


/* Agrega asterisco al lado del label en los campos requeridos */
.form-group.required .control-label:after {
    content:"*";
    color: #a94442;
}

/* modifica estilo a color rojo del tooltip de jquery-validate.bootstrap-tooltip, ya que por defecto es de color negro */
.has-error .tooltip.top .tooltip-inner {
    background-color: #a94442;
}
.has-error .tooltip.top .tooltip-arrow {
    border-top-color: #a94442;
}




/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 80px; /*valor original 60px, modificado por dario para dar espacio entre el contenido y el footer */
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

body > .container {
    padding: 40px 15px 0; /*valor original 40px 15px 0, modificado por dario para reducir espacio entre header y contenido */
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}



/* configuracion personalizada de dataTables */
.dataTables_wrapper { font-size: 13px } /*tamaño del header y paginacion abajo */
table.dataTable td { font-size: 13px }
table.dataTable th { font-size: 14px }




/* configuracion personalizada de bootstrap-datepicker */
 .datepicker-days tbody tr td,
 .datepicker-days tbody tr th,
 .datepicker-days tfoot tr td,
 .datepicker-days tfoot tr th,
 .datepicker-days thead tr td,
 .datepicker-days thead tr th {
     font-size: 13px;
     padding: 3px;
     width: 25px;
     height: 25px}


/* form container: no se usa mas, se reemplaza por bootstrap panel */
/*.dpForm-container{
    border-radius: 10px;
    background-color: #F8F8F8;
    padding-bottom: 10px;
}*/


/* Estilo hr de las grillas */
.hr-primary{
    margin-top: -8px;
    height: 3px;
    margin-bottom:10px;
    background-image: -webkit-linear-gradient(left, rgba(66,133,244,.8), rgba(66, 133, 244,.6), rgba(0,0,0,0));
}


