
/* para hacer la clase .table-condensed de bootstrap mas condensada de lo que es */
/*.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td{
    padding: 3px;
}*/


/* Agrega asterisco al lado del label en los campos requeridos */
.form-group.required .control-label:after {
    content:"*";
    color: #a94442;
}

/* modifica estilo a color rojo del tooltip de jquery-validate.bootstrap-tooltip, ya que por defecto es de color negro */
/*.has-error .tooltip .tooltip-inner {
    background-color: #a94442;
}
.has-error .tooltip .tooltip-arrow {
    border-top-color: #a94442;
    border-bottom-color: #a94442;
}*/
.error + .tooltip .tooltip-inner {
    background-color: #a94442;
}
.error + .tooltip.top .tooltip-arrow {
    border-top-color: #a94442;
    border-bottom-color: #a94442;
}




/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 80px; /*valor original 60px, modificado por dario para dar espacio entre el contenido y el footer */
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

body > .container {
    padding: 40px 15px 0; /*valor original 40px 15px 0, modificado por dario para reducir espacio entre header y contenido */
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    /*font-size: 80%; */
    font-size: 12px !important;

}



/* configuracion personalizada de dataTables */
.dataTables_wrapper { font-size: 12px !important; } /*tamaño del header y paginacion abajo */
table.dataTable td { font-size: 12px !important; }
table.dataTable th { font-size: 12px !important; }




/* configuracion personalizada de bootstrap-datepicker */
 .datepicker-days tbody tr td,
 .datepicker-days tbody tr th,
 .datepicker-days tfoot tr td,
 .datepicker-days tfoot tr th,
 .datepicker-days thead tr td,
 .datepicker-days thead tr th {
     font-size: 12px;
     padding: 3px;
     width: 25px;
     height: 25px}


/* form container: no se usa mas, se reemplaza por bootstrap panel */
/*.dpForm-container{
    border-radius: 10px;
    background-color: #F8F8F8;
    padding-bottom: 10px;
}*/


/* Estilo hr de las grillas */
.hr-primary{
    margin-top: -8px;
    height: 3px;
    margin-bottom:10px;
    background-image: -webkit-linear-gradient(left, rgba(66,133,244,.8), rgba(66, 133, 244,.6), rgba(0,0,0,0));
}


/* OJO soluciona el problema con el autocompletar que no muestra los resultados */
.ui-front {
    z-index: 1500 !important;
}


/* estilo personalizado para tablas */
table.dpTable td { font-size: 12px !important; }
table.dpTable th { font-size: 12px !important; }


/* para que la tabla tenga scroll vertital. Se coloca esta clase al div de nivel superior */
.fixedTable{
    max-height: 150px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}


/* bootstrap por defecto muestra a los input readonly con un color de fondo gris.
 De esta manera, se hace que lo muestre de manera normal*/
input[readonly]{
    background-color:transparent !important;
}



/* deshabilita los links de las grillas
https://discourse.wicg.io/t/adding-a-disabled-attribute-to-a-s/1116
*/
a.disabled {
    /*pointer-events: none; */
    cursor: not-allowed;
    opacity: 0.30;
}
/*a.disabled .glyphicon {
    opacity: 0.25;
}*/


/* settea el color de los imput disabled*/
input[type="text"]:disabled {
    background-color: #f5f5f5 /* basado en #f5f5f5 con transparencia (ultimos 2 digitos) */
}
/* settea el color de los bootstrap select disabled */
button.dropdown-toggle.disabled,
button.dropdown-toggle.disabled:hover{
    background-color: #f5f5f5;
}
/* settea el color de los bootstrap datepicker readonly (los puse readonly a algunos para impedir ingresar fechas por teclado) */
fieldset:disabled .date input:read-only,
fieldset:disabled .input-daterange input:read-only  {
    background-color: #f5f5f5 !important;
}


/* estilo de boton desabilitado en jquery ui-dialog */
.ui-dialog button:disabled,
.ui-dialog button[disabled]{
    cursor: not-allowed !important;
}


/*Agrego fuentes externas: Roboto y Open Sans */
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Regular.ttf);
}

/*Aplico la fuente Roboto a todo el proyecto */
body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px !important;
}


/* corrige el excesivo espacio que deja bootstrap despues de un alert*/
.alert{
    margin-bottom: 10px;
}

/* colores para los iconos de font-awesome */
.dp_brown{color: #6D4C41}
.dp_green {color: #00e676}
.dp_red{color: #e53935}
.dp_yellow{color: #F9A825}
.dp_orange{color: #FF5733}
.dp_purple{color: #4747d1}
.dp_blue{color: #0d47a1}
.dp_blue_nov{color: #3788d8}
.dp_gray{color: #455A64}
.dp_light_gray {color: #e0e0e0 }


/* estilos usados para mostrar icono dentro de input en datarangepicker
https://stackoverflow.com/questions/19285640/font-awesome-icon-inside-text-input-element
*/
.inner-addon {
    position: relative;
}

.inner-addon .fa-calendar-alt {
    position: absolute;
    top: 10px; right: 10px;
}
/* ------------------------------------------------------------------------*/

/* bootbox: central verticalmente los bootbox */
.bootbox.modal {
    display: flex !important;
    align-items: center;
    justify-content: center;
}
/* bootbox: muestra el mensaje final alineado a la izquierda */
.bootbox.modal .modal-footer .alert {
    text-align: left;
}
/* bootbox: soluciona problema con el scrollbar al tener 2 modales abiertas simultaneamente */
.modal{
    overflow-y: auto;
}


/*----------------------------------------------------------------------------------*/
/* estilo personalizado: Tippyjs */
.tippy-box[data-theme~='light-border'] {
    font-size: 12px;
}


/* cambiar el tamaño de los placeholders */
/* Placeholder imputs  https://stackoverflow.com/questions/20773665/fail-to-change-placeholder-color-with-bootstrap-3 */
.form-control::-webkit-input-placeholder { font-size: 11px; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { font-size: 11px; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { font-size: 11px; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { font-size: 11px; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { font-size: 11px; }  /* Microsoft Edge */

/* placeholder bootstrap-select https://stackoverflow.com/questions/39155153/how-to-change-bootstrap-selects-placeholder-color */
.bootstrap-select > .dropdown-toggle.bs-placeholder,
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder:active { font-size: 11px; }


/* para remover el guion bajo que se agregar al hacer hover sobre el icono de las grid */
a:hover { /* https://stackoverflow.com/questions/21983508/strange-underlines-in-font-awesome-css */
    text-decoration: none;
}



/* a los label que tiene un title con mensaje de ayuda, les cambia el puntero a pointer */
label[title] {
    cursor: pointer;
}
label[title]:hover {
    color: #8c8c8c;
}


/*19/05/2022 para dar estilo a las opciones inactivas de un selectpicker */
.inactive span.text:after{
    color: #e53935;
    content:" Inactiva";
    font-size: 10px;
}