
/* para hacer la clase .table-condensed de bootstrap mas condensada de lo que es */
/*.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td{
    padding: 3px;
}*/


.form-group.required .control-label:after {
    content:"*";
    color:red;
}